body {
    text-align: center;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

form {
    text-align: left;
    display: inline-block;
    background-color: #d9dbfc;
    width: 550px;
}

legend {
    background-color: white;
    border: 1px solid gray;
    box-shadow: 2px 2px gray;
}

fieldset {
    border: none;
    box-shadow: 2px 2px #6F6E7E;
    height: 250px;
}

input[type="submit"] {
    background-color: #F8A8A6;
}

label-red {
    color: red;
}

.form-control {
    height: 30px;
    padding-top: 5px;
}

.form-control label {
    width: 150px;
    display: inline-block;
    font-weight: 700;
}

.form-control input[type="text"],
input[type="number"] {
    box-shadow: inset 10px 10px 5px white;
}