html
 div
  h1 The Number Quiz
div
  p Your current score is  #{score}.
  p Guess the next number in the sequence
  p #{sequence}

div
 form(action='/check', method='POST')
    p
      | Your Answer: 
      input(type='number', name='answer', value='')
      |
      input(type='hidden', name='score', value=score)
      input(type='hidden', name='index', value=index)

    input(type='submit', value='Submit')
